<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        {% block css %}
            <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css">
        {% endblock %}

        {% block custom_css %}
        {% endblock custom_css%}

        {% block javascript %}
            <script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery-1.7.1.js"></script>
        {% endblock javascript%}


        {% block custom_javascript %}
        {% endblock %}

        <title>{% block title %}{{ title|default:"EggPotaLog" }}{% endblock %}</title>
    </head>
    <body {% block body_style %}{% endblock %} >

        {% block navigation %}
        {%endblock navigation%}

        {% block messages%}
            {% if messages %}
                <div class="content content-messages">
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
               </div>
            {% endif %}
        {%endblock messages%}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="footer">
            <div class="content">
                <div class="container">
                    <p>
                        {%if user.is_authenticated%}
                            Hello <a href="{%url post_dashboard%}">admin</a> {{request.user.email}}
                        {%else%}
                            <a href="{% url blog_login %}">Login</a> or <a href="{% url blog_register%}">Register</a>
                        {%endif%}

                        &copy; 2012 <a href="http://eggpotalog.appspot.com" target="_blank">Created by <strong>Eggi87</strong></a>

                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
