{%extends "base.html"%}
{% block javascript %}
    {{block.super}}
    <script type="text/javascript" src="/statics/js/bootstrap/bootstrap-dropdown.js"></script>
    <script type="text/javascript">

    $().ready(function(){
        $('.dropdown-toggle').dropdown();
    });
    </script>

{% endblock javascript%}

{% block custom_javascript %}
    <script type="text/javascript" src="/statics/js/underscore.js"></script>
    <script type="text/javascript" src="/statics/js/backbone.js"></script>
{% endblock %}

{% block navigation %}
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">

                    <a class="brand" href="{% url post_dashboard %}">
                        EggPotatoLog
                    </a>
                <div class="">
                    {% include "users/navigation.html"%}
                </div>

            </div>
        </div>
    </div>
{%endblock navigation%}

