<ul class="nav mainNav">
    {% if user.is_authenticated %}

        <li><a href="{% url new_post %}" class="create"><strong>New Post</strong></a></li>
    {%endif%}
</ul>

<ul class="nav pull-right">
    {% if user.is_authenticated %}
        <li><a href="{% url blog_logout %}">Log out</a></li>


    {% else %}
        <li class="login-link">
            <a href="{% url blog_login %}">Log in</a>
        </li>
        <li class="register-link">
            <a href="{% url blog_register %}">Register</a>
        </li>
    {% endif %}

</ul>
