{%extends 'base_public.html'%}
{% load post_utils%}
{% block blog_content %}

    <div class="row">
        <div class="span6 offset3">
            <div class="whole_post">
                <div class="post_title">
                    <h2>{{post.title}}</h2>
                </div>
                <div class="post_date">
                    {{post.date_published|date:"j F Y"}}

                </div>
                {%if request.user.is_authenticated%}
                <a class="post_edit btn" href="{% url edit_post post_key=post.key|to_str%}">
                    Edit
                </a>
                {%endif%}

                <div class="post_intro">
                    <p>
                        {{post.intro}}
                    </p>
                </div>

                <div class="post_content">
                    {{post.content}}
                </div>

                <div class="post_author">
                    by {{post.user.email}}
                </div>
            </div>

            <div class="nav_main_page">
                <a href="{%url main_page%}">Back to main page</a>
            </div>
        </div>
    </div>
{% endblock blog_content%}
